@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;
@use "../utility/inner";
@use "../utility/font";
@use "../../javascript/js-trigger";

.p-service {
    padding-block: 5rem;
    background-color: color(bg-gray);
    overflow: hidden;

    &__inner {
        @extend %inner;
    }

    &__svg {
        z-index: 1;
        position: absolute;
        opacity: 0.4;
        width: 50%;
        max-width: 35rem;

        path {
            fill: color(white);
        }

        &--upper-left {
            left: -50%;
            transform: translateX(50%);
            top: -35%;
        }

        &--bottom-right {
            right: -50%;
            transform: translateX(-50%);
            bottom: -35%;
        }
    }

    &__title {
        text-align: center;
    }

    &__cards {
        margin-top: 3.75rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.875rem;
    }

    &__card {
        background: color(white);
        padding-top: 2rem;
        padding-bottom: 2.375rem;
        padding-inline: 1.875rem;
        // max-width: 18.75rem;
        flex: 0 1 18.75rem;

        @include mq(tb) {
            flex: 0 1 auto;
            width: calc(50% - 1.875rem / 2);
        }
        @include mq(sp) {
            width: 100%;
        }

        &__image {
            height: 8.75rem;
            margin: auto;
            object-fit: contain;
        }

        &__title {
            text-align: center;
            color: color(primary);
            margin-top: 2.625rem;
        }

        &__descr {
            margin-top: 1rem;
        }
    }

    .c-btn--primary {
        margin: auto;
        margin-top: 3.75rem;
    }

    &.is-hide {
        .p-service {
            &__title {
                @extend %hide-el-below;
            }
            &__card {
                opacity: 0;
                transform: translateX(3rem);
            }
        }
    }
    .c-btn--primary {
        @extend %hide-el-below;
    }
    &.is-show {
        %show-el {
            opacity: 1;
            transition: 0.5s;
            transform: translate(0, 0);
        }

        $delay: 0.15s;

        .p-service {
            &__title {
                @extend %show-el;
            }
            @for $i from 1 through 3 {
                &__card {
                    &:nth-child(#{$i}) {
                        @extend %show-el;
                        transition-delay: calc($i * $delay + 0.2s);
                        // background: #000;
                    }
                }
            }
        }

        .c-btn--primary {
            animation: show 0.6s forwards;
            animation-delay: $delay * 4;
            opacity: 0;
            transform: translateY(3rem);
            @keyframes show {
                to {
                    opacity: 1;
                    transform: translate(0, 0);
                }
            }
        }
    }
}
